---
const { title } = Astro.props;
import { BaseUrl } from '../consts';

---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdn.jsdelivr.net/npm/p5@1.5.0/lib/p5.js"></script>
    <script is:inline src={`${BaseUrl}/wasm_exec.js`}></script>
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>